$ff: 'Inter', 'Arial', sans-serif;

$black000: #1e1e1e;
$black100: #121212;
$blue000: #3369f3;
$white000: #fff;
$white100: #d1d1d1;
$purple: #c38fff;

:export {
  ff: $ff;
  black000: $black000;
  black100: $black100;
  blue000: $blue000;
  white000: $white000;
  white100: $white100;
  purple: $purple;
}
