$fontFamily: 'Inter', 'Arial', sans-serif;

$black000: #1e1e1e;
$black100: #121212;
$blue000: #3369f3;
$blue100: #ebf0fe;
$white000: #fff;
$white100: #d1d1d1;
$purple: #c38fff;
$grey000: #90a0b7;
$grey100: #ebeff2;

:export {
  fontFamily: $fontFamily;
  black000: $black000;
  black100: $black100;
  blue000: $blue000;
  blue100: $blue100;
  white000: $white000;
  white100: $white100;
  purple: $purple;
  grey000: $grey000;
  grey100: $grey100;
}
